body{background-image: url(https://img2.gratispng.com/20180326/cde/kisspng-early-world-maps-old-world-wallpaper-nautical-5ab89cce0ec936.3268023715220482060606.jpg);
background-repeat: no-repeat;
background-size: cover;
;}
body{
  background-color: burlywood;}

h1{color: rgb(5, 5, 3);} 
h1{font-size: 60px;
font-family: cursive;
text-align: center;}

h2{ 
  color: rgb(241, 241, 241);
text-align: center;}
h2{font-size: 20px;
font-family: Verdana;}

.caixademensagem{ 
text-align: center;   
border: length 60px;
border: brown;
margin-left: 0 auto;
margin-right: 0 auto;
}

.box{
  line-height:0; 
 width:0;
 height:0;
 border: 503px solid;
 border-color: #eee;
}
form{   
 
  margin: 0 auto;
  width: fit-content;
}

.seletorchave{
  font-family: Verdana;
  color: rgb(5, 5, 5);
}
.chave{ text-align: center;
  color: rgb(109, 103, 103);
  font-family: 'Gill Sans'; 
  font-weight: bold;  
;}



.botaocriptografar {
color: rgb(109, 103, 103);
background-color: #cde05c;
text-align: center; 
width: 150px;
padding: 15px 20px;
border: 1px solid #eee;
border-radius: 6px;
font-family: 'Gill Sans';   
  }
  
  .botaocriptografar:active {
    color: white;
    background-color:  #d86834;
  }

  .botaodescriptografar { color: rgb(109, 103, 103);
    background-color: #cde05c;
    text-align: center; 
    padding: 15px 20px;
    border: 1px solid #eee;
    border-radius: 6px;
    font-family: 'Gill Sans';
    
  }
  
  .botaodescriptografar:active {
    color: white;
    background-color: #d86834;
  }}